* {
    box-sizing: border-box;
}

body {
    background-color: #202221;
    font-family: "NeutralFace";
    font-family: "Gogol";
    background-image: url("../image/background.png");
}

@font-face {
    font-family: "NeutralFace";
    src: url("../fonts/NeutralFace/NeutralFace.otf");
}

@font-face {
    font-family: "Gogol";
    src: url("../fonts/Gogol/gogol.otf");
}

h1 {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 160px;
    color: white;
    line-height: 5%;

}

h2 {
    font-family: "Gogol";
    font-size: 115px;
    color: #ADADAD;
    line-height: 5px;
    text-align: left;
    margin-left: 250px;

}

h3 {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 110px;
    color: white;
    line-height: 1%;
    margin-left: 40px;
    letter-spacing: 3%;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "NeutralFace";
    font-size: 30px;
    color: #E5E3E3;
}

a {
    text-decoration: none;
    color: #E5E3E3;
}

.photo1 {
    height: 405px;
    width: 395px;
}

.siikira {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 200px;
}

.about {
    display: inline-block;
    justify-content: center;
}

p {
    font-family: "NeutralFace";
    text-align: left;
    font-size: 30px;
    color: white;


}

.text2 {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px;
}

.gif1 {
    background-image: url("../image/gif1.gif");
    
    height: 484px;
   background-repeat: no-repeat;
 background-size: contain cover 100% 300px;
 background-attachment: fixed;
 border-radius: 30px;
}